body{background-color: rgb(229, 186, 241);}

h1{text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(29, 6, 241);
    flood-color: rgb(224, 9, 81);
    text-emphasis-color: rgb(255, 0, 106);
    text-shadow: 0in;
    background-image: url(images/WALL2.jpg)
    
}
p{
    

}


border-width;5px}